gurobi.log

.DS_STORE

*.swp
*.swo

*.aux
*.out
*.log
*.synctex.gz
*.thm
*.toc
*.lof
*.lot
*.pdf
*.bbl
*.blg

out/
.ipynb_checkpoints/
__pycache__/

label/
erdos_reyni_large/
erdos_reyni_small/
pace_weighted/
erdos_reyni_mid/
pace_unweighted/
